

<section  class="footer-container">
<div class="container">
    <div class="footer-main">
        <div class="row justify-content-between">
          <div class="col-lg-6">
            <div class="about">
              <div class="logo">
                <img src="../../assets/images/logo.svg" alt="">
              </div>
              <div class="list-wrapper">
                <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="">About Us</a></li>
                  <li><a href="">Services</a></li>
                  <li><a href="">Partners</a></li>
                  <li><a href="">CSR</a></li>
                  <li><a href="">Career</a></li>
                  <li><a href="">Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="address">
              <p>TECHNOMAX Middle East Engineering LLC.<br> P.O. Box : 33089,<br> Abu Dhabi, United Arab Emirates….</p>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
       <div class="wrapper d-flex">
           <div class="rights">
               <span>All rights reserved. © technomax.com | Terms & Conditions</span>
           </div>
           <div class="web">
            <span>Designed by webandcrafts.com</span>
           </div>
       </div>
    </div>
</div>
</section>