<section class="clients">
  <div class="container">
    <div class="title">Our Clients</div>
    <p class="sub-text">Our clientele includes some of the leading names from different sectors. We believe in
      transparent and long term
      relationships with our partners.</p>

    <div class="client-carousel">
      <carousel class="slide-animated">
        <slide>
          <ul class="brands">
            <li><img src="../../assets/images/c1.png" alt=""></li>
            <li><img src="../../assets/images/c2.png" alt=""></li>
            <li><img src="../../assets/images/c3.png" alt=""></li>
            <li><img src="../../assets/images/c4.png" alt=""></li>
            <li><img src="../../assets/images/c5.png" alt=""></li>
          </ul>
        </slide>
        <slide>
            <ul class="brands">
              <li><img src="../../assets/images/c1.png" alt=""></li>
              <li><img src="../../assets/images/c2.png" alt=""></li>
              <li><img src="../../assets/images/c3.png" alt=""></li>
              <li><img src="../../assets/images/c4.png" alt=""></li>
              <li><img src="../../assets/images/c5.png" alt=""></li>
            </ul>
        </slide>
        <slide>
              <ul class="brands">
                <li><img src="../../assets/images/c1.png" alt=""></li>
                <li><img src="../../assets/images/c2.png" alt=""></li>
                <li><img src="../../assets/images/c3.png" alt=""></li>
                <li><img src="../../assets/images/c4.png" alt=""></li>
                <li><img src="../../assets/images/c5.png" alt=""></li>
              </ul>
        </slide>
        
      </carousel>
    </div>
  </div>
</section>
