@import '~src/scss/_variables';

.banner-section {
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;

  .header-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}

.banner-item-wrapper {
  margin-bottom: 100px;
  overflow: hidden;

  .banner-item {
    .image-box {
      width: 160px;
      border-radius: 10px;
      overflow: hidden;
      height: 100px;
      margin-right: 20px;

      img {
        height: 100%;
        transition: 0.5s ease;
      }
    }

    .content-box {
      .title {
        font-size: 16px;
        font-family: $roboto;
        font-weight: 700;
        color: $dark;
        margin-bottom: 10px;

        @media (min-width: 1400px) and (max-width:1920px) {
          font-size: 18px;
        }
      }

      .text {
        font-size: 14px;
        font-family: $archivo;
        font-weight: 400;
        color: $dark;
        margin-bottom: 10px;

        @media (min-width: 1400px) and (max-width:1920px) {
          font-size: 16px;
        }
      }

    }

    &:hover {
      .image-box {
        img {
          transform: scale(1.1);
          ;
        }
      }
    }
  }
}

.main-title {
  font-size: 40px;
  max-width: 300px;
  line-height: 75px;
  color: $dark;
}

.slider-inticator {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  align-items: center;

  li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $gray;
    margin-right: 10px;

    &.active {
      background-color: $green-light;
    }
  }

}

.image-holder {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 400px;
  overflow: hidden;
}

.carousel-wrapper {
  position: relative;
}

.carousel-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 400px;
  overflow: hidden;


  .carousel-shape {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg) translate(-50%, -23%) skew(-20deg, 0deg);
    background: #000;
    border-radius: 50px;
    width: 50vw;
    height: 50vw;
    overflow: hidden;


    .carousel-items {
      position: absolute;
      left: 0;
      top: 0;
      transform: rotate(-55deg) skew(-2deg, 0deg);
      opacity: 0;
      transition: 0.3s ease-in;

      img {
        object-fit: cover;
        width: 60vw;
        height: 60vw;
      }

      &.active {
        z-index: 10;
        opacity: 1;

      }
    }
  }
}



// ==================



.media-card {
  display: flex;
  cursor: pointer;
   &.active  {
    h4{
          color: $blue-light;
    }
    .details-btn::before{
       border-color: $green-light;
    }
    .media-image{
        img{
          transform: scale(1.1);
        }
    }
    }
    

}

.media-image {
  width: 163px;
  height: 140px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 20px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
  transition: 0.5s ease;

  }
}

.media-content {
  h4 {
    font-size: 16px;
    color: $dark;
    font-family: $roboto;

    
  }
  p{
     font-size: 14px;
     font-family: $archivo;
     font-weight: 400;
     color: $dark; 
  }
 
}

.carousel-title {
  position: relative;
  font-size: 45px;
  font-family: $roboto;
  font-weight: 400;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 30px;
    height: 7px;
    background-color: $green-light;
  }
}

.carousel-text-container {
  max-width: 400px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 50px;
}

.carousel-inticator {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;

  li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $gray;
    margin-right: 10px;
    cursor: pointer;

    &.active {
      background: $green-light;
      pointer-events: none;
    }
  }
}
