
// Global Variables 

$roboto:'Roboto Slab',serif;
$archivo:'Archivo', sans-serif;
$muli:'Muli',sans-serif;
$white:#fff;
$black:#000;
$gray:#899AA7;
$dark:#000E24;
$semi-dark:#0D2D42;
$blue-light:#006CB8;
$blue-medium:#002765;
$green-light:#B2C91E;
$blue:#00317E;
$blue-shade:#0063A7;